<div>
	{{bandwidth}}
	<script id="groundVertexShader" type="x-shader/x-fragment">
		    varying vec2 vUv;
		    varying vec3 vPosition;
		    varying vec3 vNormal;
		    void main( void ) {
		        vUv = uv;
		        vNormal = normal;
		        vPosition = position;
		        gl_Position = projectionMatrix * modelViewMatrix * vec4(vPosition, 1);
		    }
		</script>
		<script id="groundFragmentShader" type="x-shader/x-vertex">
		    uniform sampler2D grass;
		    uniform sampler2D lightrock;
		    uniform sampler2D snow;
		    uniform vec3 directionalLightDirection;
		    varying vec2 vUv;
		    varying vec3 vPosition;
		    varying vec3 vNormal;
		    void main() {
		        // Texture loading
		        vec4 diffuseGrass = texture2D( grass, mod(vUv * 16.0,1.0));
		        vec4 diffuseRock = texture2D( lightrock,  mod(vUv * 16.0,1.0));
		        vec4 diffuseSnow = texture2D( snow,  mod(vUv * 16.0,1.0));
		        vec4 color = diffuseGrass;
		        if(vPosition.y > 20.0){
		        	color = diffuseSnow;
		        }else if (vPosition.y > 15.0){
		        	color = mix(
			            diffuseSnow,
			            color,
			            min(1.0,(20.0-vPosition.y)/5.0)
			        );
		        	
		        }
		        if(vNormal.y < 0.90){
		        	color = diffuseRock;
		        }else{
		        	color = mix(
			            diffuseRock,
			            color,
			           	min(1.0,(vNormal.y - 0.9)*30.0)
			        );
		        }
		        // light
		        vec3 light = directionalLightDirection;
  				light = normalize(directionalLightDirection);
  				float dProd = max(0.0, dot(vNormal, light));
		        vec4 addedLights = vec4(dProd,dProd,dProd, 1.0);
		        gl_FragColor = color* addedLights;
		    }
		</script>
</div>